<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension-point id="format" name="AudioViz file format extension" schema="schema/com.intel.audioviz.file.format.exsd"/>

   <extension
         id="com.intel.audioviz.file.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
